<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="mobilePhoneForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <button 
                        type="submit"
                        class="btn btn-success mr-1"
                        [disabled]="!mobilePhoneForm.valid"
                    >Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Phone Name</label>
                        <input 
                            type="text"
                            id="name"
                            class="form-control"
                            formControlName="name"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ID">Phone ID</label>
                        <input 
                            type="text"
                            id="ID"
                            class="form-control"
                            formControlName="ID"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input 
                            type="text"
                            id="price"
                            class="form-control"
                            formControlName="price"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="price">Description</label>
                        <textarea
                            type="text"
                            id="description"
                            class="form-control"
                            formControlName="description"
                            style="height: 125px;"
                        ></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>