<div class="row">
    <div class="col-sm-12" >
        <h3>{{mobilePhone.ID}}</h3>
    </div>
</div>
<h4>{{mobilePhone.name}}</h4>
<div class="row">
    <div class="col-sm-12">
        <p>${{mobilePhone.price}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>{{mobilePhone.description}}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="Button group with nested drop down">
            <div class="btn-group" role="group" appDropdown>
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Phone
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a (click)="onEditMobilePhone()" class="dropdown-item" style="cursor:pointer;">Edit Phone</a>
                    <a class="dropdown-item" style="cursor:pointer;" (click)="onDeleteMobilePhone()">Delete Phone</a>
                </div>
            </div>
        </div>
    </div>
</div>